* {
  margin: 0px;
  padding: 0px;
}
header {
  grid-area: header;
}
body {
  font-family: 'Archivo', sans-serif;
  background-color: lightgrey;
}
nav {
  grid-area: nav;
  background-color: #222931;
  padding: 20px;
}
.menuButton {
  background-color: #222931;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  margin: 20px;
}
.page {
  display: grid;
width: 1000px;
  grid-template-areas: "header header header"
"nav nav nav"
"bigPicture bigPicture bigPicture"
"banner1 banner2 banner3";
  height: 100%;
  margin: 0px auto;
  background-color: white;
}
#logo {
  margin: 20px;
}
#arrow {
  width: 10px;
  color: #ffffff;
}
#header {
  width:100%;
  position:absolute;
}
#bigPicture{
  grid-area: bigPicture;
  width: 1710.9px;
}
#banner1 {
  margin-left: 25px;
  grid-area: banner1;
}
#banner2 {
  grid-area: banner2;
}
#banner3 {
  grid-area: banner3;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222931;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  font-size: 16px;
  color: rgb(205, 203, 203);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: rgb(255, 255, 0);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}