* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Archivo', sans-serif;
  background-color: lightgrey;
}
nav {
  max-width: 910px;
  max-height: 75px;
  background-color: #222931;
  margin: 0px auto;
  padding: 20px;
}
.menuButton {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin: 20px;
}
#page {
  width: 1000px;
  height: 100%;
  margin: 0px auto;
  background-color: white;
}
#logo {
  margin: 20px;
}